body{
    background-color: rgb(135, 222, 203);    
}

h1{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: rgb(32, 90, 88);
}

.bulb-container{
    border: none;
    box-shadow: 0 0 10px ;
    border-radius: 10px;
    margin:  30px 525px;
    background-color: aliceblue;
}

.bulb-img{
    height: 300px;
    margin: 40px 90px;
}

.btn-container{
    margin: 0 50px;
    text-align: center;
}

.bulb-btn{
    border-radius: 50px;
    border: none;
    width: 150px;
    height: 50px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 20px;
    margin: 0px 15px 30px 15px;
    background-color:  rgb(32, 90, 88);
    color: aliceblue;
}

.bulb-btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(32, 90, 88);
    border: solid rgb(32, 90, 88);
}

.theme-btn{
    margin: 10px 680px;
}