@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&family=Playwrite+BE+VLG:wght@100..400&display=swap');

body {
    transition: background-color 0.3s, color 0.3s
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: cursive
}

.theme-switch-btn {
    border-radius: 500px;
    position: fixed;
    right: 20px;
    height: 80px;
    width: 100px;
    cursor: pointer;
}

.btn-img {
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 30px;
}

.txt-container{
    border: solid;
    margin: 70px 50px;
    border-radius: 30px;
    background-color: aliceblue;
}

.quote-txt {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 80px;
    font-size: 40px;
    color: black
}

.bg-dark {
    background-color: rgb(8, 15, 39);
    color: aliceblue;
}

.bg-light {
    background-color: rgb(105, 130, 214);
    color: rgb(14, 15, 17);
}

button{
    border: solid;
    width: 150px;
    margin: 5px 700px;
    border-radius: 50px;
    font-size: 20px;
    padding: 10px;
}
